name: build
on: [push]

jobs:
  build:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        java: [8, 9, 10, 11, 12, 13]
    name: Run with Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
      - run: |-
          cd impl/java
          ./gradlew clean build
